.socialmedia-list {
  list-style: none;
  position: fixed;
  bottom: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.socialmedia-item {
  float: left;
  background-color: whitesmoke;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 15px;
  margin-right: 10px;
}

.socialmedia-item a {
  text-decoration: none;
  color: inherit;
}

.socialmedia-item:hover {
  opacity: 0.8;
}
