#homepage {
  font-family: Goudy Old Style, serif;
  background-image: url(../img/background-home.jpg);
  background-size: cover;
}
/* 


image source: Photo by Rutger Rog on Unsplash
Photo by <a href="https://unsplash.com/@rrog?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Rutger Rog</a> on <a href="https://unsplash.com/collections/wHeS1xNr8Bo/bikes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */
