* {
  font-family: Goudy Old Style, serif;
}

.home-artist {
  font-size: larger;
  margin-left: 0.6%;
}

.home-title-container {
  margin: auto;
  text-align: center;
  padding: 25px;
  font-size: x-large;
}

.home-title2 {
  font-size: medium;
}
