.form-title {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  color: #3b625f;
}

.form-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 60%;
  border-radius: 2px;
}
.form-container {
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  margin-top: 5px;
  width: 35%;
  margin-bottom: 90px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: Goudy Old Style, serif;
  background-color: rgba(230, 230, 230, 0.6);
}

.button-form {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 20px;
  border: 0;
  width: 100%;
  font-family: Goudy Old Style, serif;
  text-align: center;
  display: inline-block;
  color: white;
  background-color: black;
  cursor: pointer;
}

.button-form:hover {
  background-color: #272727;
}
input::placeholder {
  font-size: 18px;
}

#message {
  height: 120px;
  vertical-align: top;
  margin-bottom: 18px;
  background: #f2f2f2;
  font-size: 18px;
}

#message input,
#message textarea {
  width: 250px;
  height: 40px;
  padding: 10px;
}

#message li input[type="text"],
#message li textarea {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: none;
}

#message li textarea {
  height: 150px;
  resize: none;
}

.msg-form-sent {
  transition-duration: 10s, 30s, 230ms;
}

.form-p {
  width: 360px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  margin-top: 5px;
  width: 35%;
  margin-bottom: 90px;
  align-items: center;
  text-align: justify;
}
