.logo-container {
  font-size: 50px;
  text-align: center;
  margin: 15px;
  margin-bottom: -1.5px;
  color: #393e46;
  letter-spacing: 0.2rem;
}
.logo {
  margin-top: 30px;
  text-decoration: none;
  color: inherit;
}
.logo-container h3 {
  font-size: 15px;
}
.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 2rem;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.601);
  width: 100%;
}

.nav-item {
  height: 40px;
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: Goudy Old Style, serif;
  color: #393e46;
  letter-spacing: 0.2rem;
}

.nav-links {
  color: #fff;
  display: flex;
  margin-top: 2px;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 3rem;
  height: 15%;
  color: #393e46;
  letter-spacing: 0.2rem;
}

.nav-links:hover {
  opacity: 0.8;
  border-bottom: 1px solid #393e46;
  transition: all 0.1s ease-out;
  padding-bottom: 15px;
}

/*
@media (max-width: 950px) {
  .navbar-logo {
    display: none;
  }
}
*/

@media (max-width: 800px) {
  .navbar-logo {
    display: none;
  }

  .nav-menu {
    background-color: black;
    flex-direction: column-reverse;
    margin-top: 13%;
    padding-bottom: 0.5%;
    width: 900px;
    align-items: center;
  }

  .nav-item {
    height: 15px;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 15px;
    letter-spacing: inherit;
    text-transform: inherit;
    font-family: Goudy Old Style, serif;
  }

  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 5%;
  }

  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
    padding-bottom: 15px;
  }
}
