.home-navbar-container {
  margin-top: -110px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: sticky;
}
.home-nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;

  width: 35vw;
}

.home-nav-item {
  height: 40px;
  font-size: 25px;
  margin-top: 68px;
  font-family: Goudy Old Style, serif;
  font-style: normal;
  font-weight: 400;
}

.home-nav-links {
  color: white;
  align-items: center;
  margin-left: 17%;
  text-decoration: none;
  padding: 2rem;
}

.home-nav-links:hover {
  color: black;
  opacity: 0.4;
}
