.web-backg-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
}

.Background-container {
  display: block;
}

.Background-container > h1 {
  text-shadow: 2px 2px 4px #000000;
  padding: 4%;
  color: white;
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: inherit;
  text-transform: inherit;
  font-family: Goudy Old Style, serif;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 960px) {
  .Background-container > h1 {
    font-size: 70px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .Background-container > h1 {
    font-size: 50;
    padding-top: 15px;
  }
}
